<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud.dao.OrderDetailsMapper">
	<resultMap id="BaseResultMap"
		type="com.springcloud.entity.OrderDetails">
		<id column="order_detail_id" jdbcType="INTEGER"
			property="orderDetailId" />
		<result column="order_id" jdbcType="INTEGER" property="orderId" />
		<result column="goods_id" jdbcType="INTEGER" property="goodsId" />
		<result column="goods_name" jdbcType="VARCHAR"
			property="goodsName" />
		<result column="goods_final_price" jdbcType="DOUBLE"
			property="goodsFinalPrice" />
		<result column="goods_final_num" jdbcType="INTEGER"
			property="goodsFinalNum" />
	</resultMap>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from order_details
		where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.springcloud.entity.OrderDetails">
		insert into order_details (order_detail_id, order_id, goods_id,
		goods_name, goods_final_price, goods_final_num
		)
		values (#{orderDetailId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER},
		#{goodsId,jdbcType=INTEGER},
		#{goodsName,jdbcType=VARCHAR}, #{goodsFinalPrice,jdbcType=DOUBLE}, #{goodsFinalNum,jdbcType=INTEGER}
		)
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.springcloud.entity.OrderDetails">
		update order_details
		set order_id = #{orderId,jdbcType=INTEGER},
		goods_id = #{goodsId,jdbcType=INTEGER},
		goods_name = #{goodsName,jdbcType=VARCHAR},
		goods_final_price = #{goodsFinalPrice,jdbcType=DOUBLE},
		goods_final_num = #{goodsFinalNum,jdbcType=INTEGER}
		where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select order_detail_id, order_id, goods_id, goods_name, goods_final_price,
		goods_final_num
		from order_details
		where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select order_detail_id, order_id, goods_id, goods_name, goods_final_price,
		goods_final_num
		from order_details
	</select>
	<!-- 查询指定订单编号的订单明细信息 	-->
	<select id="selectByOrderId"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select order_detail_id, order_id, goods_id,goods_name,goods_final_price,goods_final_num
		from order_details where order_id=#{orderId}
	</select>

	
	
</mapper>